

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html { 
	background: url(../img/backgrounds/bug.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container, body {
	background: transparent;
	color: white;
}















